* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #4b5563;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 2rem;
    /* letter-spacing: 1px; */
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

p {
    font-family: 'roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}



/* top nav bar */

.header-section {
    justify-content: space-between;
    border-bottom: #f4f5f7 solid 3px;
}

.header-logo {
    margin: 20px;
    display: inline-block;
}

.header-logo img {
    width: 110px;
}

.header-signin {
    margin: 20px;
    margin-inline: 40px;
    display: inline-block;
}

.header-signin a {
    color: var(--secondary-text-color);
}

/* main-section  */

.form-section-plus-compnies-section {
    justify-content: space-between;
    
}

/* form- section */

.form-section {
    width: 40%;
}

.form-section h2 {
    text-align: start;
    font-size: 1.87rem;
    font-weight: 700;
    margin: 20px 20px 20px 0;
    color: var(--primary-text-color);
}

.form-body-section {
    border: 2px solid #e5e7eb;
    margin-top: 16px;
    padding: 24px;
    border-radius: 8px;
}

.form-body {
    flex-direction: column;
}

.required-star {
    margin-inline: 2px;
    color: rgb(235, 93, 93);
}

.input-outer-div {
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.form-lable {
    text-align: start;
    font-size: 0.87rem;
    margin-bottom: 8px;
    color: #374151;
    display: block;
    margin-block: 10px;
}

.form-input {
    color: #4b5563;
    position: relative;
    width: 400px;
    min-width: 0px;
    padding-inline: 16px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    height: 2.5rem;
    font-size: 1rem;
}

.terms-privacy p {
    font-size: 0.87rem;
    color: #9fa6b2;
    word-wrap: break-word;
}


